
<%= stylesheet_link_tag    "table", :media => "all" %>

<p style="color: green"><%= notice %></p>

<div id="roles" >
    <table class="styled-table">
      <thead>
           <tr><th>Name</th>
               <th>Sketch</th>
               <th style="width: 200px;"></th>
           </tr>
      </thead>
      <% @roles.each do |role| %>
        <tbody>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.path %></td>
            <td>
                <div class="styled-button-bar" >
                    <%= button_to( "A"  , role_path( :id => role.id )  , :method => :get    , :class => "styled-button", :form_class => "styled-form" )%>
                    <%= button_to( "B"  , role_path( :id => role.id )  , :method => :delete , :class => "styled-button", :form_class => "styled-form" )%>
                </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <div class="styled-button-bar">
      Add a New role <%= link_to editicon , create_role_path  %>
      Add a New role <%= link_to editicon , create_role_path  %>
    </div>
</div>
