<%= stylesheet_link_tag "table", "data-turbo-track": "reload" %>

<p style="color: green"><%= notice %></p>

<h1>Roles</h1>

<div id="roles" >
    <table class="styled-table">
      <thead>
           <tr><th>Name</th><th>Path</th></tr>
      </thead>
      <% @roles.each do |role| %>
        <tbody>
          <tr><td><%= role.name %></td><td><%= role.path %></td></tr>
        </tbody>
      <% end %>
    </table>
</div>

<%= link_to "New role", new_role_path %>
