<%= stylesheet_link_tag "table", "data-turbo-track": "reload" %>

<p style="color: green"><%= notice %></p>

<div id="roles" >
    <table class="styled-table">
      <thead>
           <tr><th>Name</th>
               <th>Path</th>
               <th></th>
           </tr>
      </thead>
      <% @roles.each do |role| %>
        <tbody>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.path %></td>
            <td>
                  <%= link_to editicon , roles_build_path( :role_id => role.id , :id => 'name_role' ) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
</div>
