<div id="<%= dom_id arduino %>">
  <p>
    <strong>Serialnumber:</strong>
    <%= arduino.serialnumber %>
  </p>

  <p>
    <strong>Pid:</strong>
    <%= arduino.pid %>
  </p>

  <p>
    <strong>Vid:</strong>
    <%= arduino.vid %>
  </p>

  <p>
    <strong>Fqbn:</strong>
    <%= arduino.fqbn %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= arduino.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= arduino.role_id %>
  </p>

</div>
