<%= form_with(model: arduino) do |form| %>
  <% if arduino.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(arduino.errors.count, "error") %> prohibited this arduino from being saved:</h2>

      <ul>
        <% arduino.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :serialnumber, style: "display: block" %>
    <%= form.text_field :serialnumber %>
  </div>

  <div>
    <%= form.label :pid, style: "display: block" %>
    <%= form.text_field :pid %>
  </div>

  <div>
    <%= form.label :vid, style: "display: block" %>
    <%= form.text_field :vid %>
  </div>

  <div>
    <%= form.label :fqbn, style: "display: block" %>
    <%= form.text_field :fqbn %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :role_id, style: "display: block" %>
    <%= form.number_field :role_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
