<%= stylesheet_link_tag "table", "data-turbo-track": "reload" %>

<p style="color: green"><%= notice %></p>

<div id="roles" >
    <table class="styled-table">
      <thead>
           <tr>
            <th>Serial Number</th>
            <th>PID</th>
            <th>VID</th>
            <th>FQBN</th>
            <th>Name</th>
            <th>Role</th>
          </tr>
      </thead>
      <% @arduinos.each do |arduino| %>
        <tbody>
          <tr>
              <td><%= arduino.serialnumber %></td>
              <td><%= arduino.pid %></td>
              <td><%= arduino.vid %></td>
              <td><%= arduino.fqbn %></td>
              <td><%= arduino.name %></td>
              <td><%= arduino.role_id %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
</div>
