<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>

<nav class="navbar">
   <!-- <div class=""> -->
   <a href="#" class="logo"> <%= image_tag 'DCC_logo'  %>
       <p> : <%= @page_title %> </p>
   </a>
   <!-- </div> -->
   <div class="main-nav" id="main-nav">
       <div class="dropdown" >
               <button class="nav-icon dropbtn"><i class="fa fa-2x fa-bars"></i> </button>
               <div class="dropdown-content">
                 <a href="<%=roles_list_path%>"> Roles</a>
                 <a href="<%=arduinos_path%>"> Arduinos</a>
                 <a href="<%=usbs_path%>">  USB Ports</a>
               </div>
       </div> 
       <div class="nav-item" ><a href="#" class="nav-icon nav-links"><i class="fa fa-2x fa-cog"></i></a></div>
       <div class="nav-item" ><a href="#" class="nav-icon nav-links"><i class="fa fa-2x fa-user"></i></a></div>
   </div>
</nav>

