
  <table class="table" >
      <thead>
            <tr>
              <th>Board Name</th>
              <th>Port</th>
              <th>Serial Number </th>
              <th>Product Id </th>
              <th>Vendor Id </th>
            </tr>
      </thead>
      <tbody>
  <% @arduinos.each do |arduino| %>
    <tr>
      <td><%= arduino.label %> </td>
      <td><%= arduino.address %> </td>
      <td><%= arduino.label %> </td>
      <td><%= arduino.label %> </td>
      <td><%= arduino.label %> </td>
      <td><a href="#" class="btn btn-success">OK</a></td>
    </tr>
  <% end %>
      </tbody>
  </table>



